@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@fontsource/roboto';
@import '@fontsource/bebas-neue';

@import '@skeletonlabs/skeleton'; 
@import '@skeletonlabs/skeleton-svelte'; 
@import '../lib/assets/themes/expotheme.css';

@plugin "@iconify/tailwind4" {
    scale: 1.375
}
@theme {
  --font-roboto: "Roboto", sans-serif;
  --breakpoint-xs: 30rem;

}
@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
  }
  .color-scheme-light {
		color-scheme: light;
	}

	.color-scheme-dark {
		color-scheme: dark;
	}
}
@layer base {
    *, ::before, ::after {
    /* Sets a global default spacing between text and underlines */
    text-underline-offset: 3px; 
  }
}

:root,
html,
body {
  min-height: 100%;
}