@import "tailwindcss";
@import "../lib/assets/themes/expotheme";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
  }
}

:root,
html,
body {
  background-color: #ffffff;
  color: #000000;
  min-height: 100%;
}
