@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
  }
}

@layer base {
    div {
        color: black;
        background: white;
    }
    body {
        color: black;
        background: white;
    }
}